* {
    text-align: center;
    box-sizing: border-box;
}
.one {
    background-color: aliceblue;
}
.reactive-nonmetals-list {
    list-style-type: none;
    padding: 0;
    text-align: center;

}
.reactive-nonmetals {
    display: flex;
    justify-content: left;
    background-color: lightblue;
    color: blue;
    border: 4px solid blue;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.reactive-nonmetals::hover {
    background-color: darkblue;
    color: lightblue;
}
.reactive-nonmetals::active {
    color: red;
}